name = "free2free-api"
main = "src/index.ts"
compatibility_date = "2024-01-01"
compatibility_flags = ["nodejs_compat"]

[dev]
port = 8787

[[d1_databases]]
binding = "DB"
database_name = "free2free-db"
database_id = "xxxxxxxxxxxxxxxxxxxxxx"

[vars]
ENVIRONMENT = "development"
CORS_ORIGINS = "http://localhost:3000,http://localhost:5173"
BACKEND_API_BASE_URL = "https://localhost:3000"
FRONTEND_URL = "http://localhost:3000"

[env.production]
name = "free2free-api-prod"
compatibility_flags = ["nodejs_compat"]

[env.production.vars]
ENVIRONMENT = "production"
CORS_ORIGINS = "https://ooxxooxx.api"
BACKEND_API_BASE_URL = "https://ooxxooxx.web"
FRONTEND_URL = "https://ooxxooxx.com"

[[env.production.d1_databases]]
binding = "DB"
database_name = "free2free-db"
database_id = "7e2b5c27-c755-42e5-b349-b035b5df3534"
